.DivPrimaryPresentation{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    gap: 30px;
    
}

.DivPresentation {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    gap: 50px;

  }

.PhotoCv{
    width: 240px;
    height: auto;
    border-radius: 6px;    
    box-shadow: 1px 1px 15px 2px rgb(65, 65, 61); 
    margin-bottom: 15px;

}

h1{
    margin: 0;
    font-size: 30px;
}

h2{
    margin: 0;
    font-size: 25px;
}